/* Estilos generales */
body {
    background-color: black;  /* Fondo negro */
    color: white;  /* Letra blanca */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    color: white;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #25D366;  /* Verde de WhatsApp */
    color: white;
    padding: 12px 20px;  /* Tamaño del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s;
    width: 100%;
}

form button:hover {
    background-color: #128C7E;  /* Verde oscuro de WhatsApp al pasar el ratón */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
